body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: sans-serif;
    background-image: url(./images/coffee_fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;

}
.inicio{
    color: #6B2F00;
    font-weight: bold;
    background-color: #FFECD0;
    text-align: center;
    padding: 1%;
    margin: 1% 0;
    border-radius: 20px;
}
h4{
    color: #8A4A12;
}
.menu{
    color: #1F1F3A;
    background-color: #E9EBFA;
    border-radius: 20px;
    padding: 1% 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
ul{
    list-style: none;
}
.producto{
    float: right;
    max-width: 8%;
    padding: 0 1%;
    border-radius: 20px;
}

footer{
    position: fixed;
    bottom: 0;
    border: solid 2px;
    margin: 0 0 5px 40%;
    padding: 0 5px;
    background-color: #FFECD0;
    font-family: Arial, Helvetica, sans-serif;
    place-items: center;
    font-size: 12px;
}

#contact{
    border: solid 1px;
    padding: 0 43.3%;
    background-color:#ffdaa2;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

#github{
    padding-right: 40%;
}

#Icon{
    width: 25px;
    height: 25px;
    vertical-align: middle;
    padding: 0 4px 0 0;
}